/*Reset*/
* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;
font-family: 'Lato', sans-serif;}
body {background-color: #f5f5f5;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

.centro-vertical
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.centro-horizontal
{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.AchenarStudios
{
	font-size: 50pt;
	color: white;
	text-align: center;
	margin: 0;
}
.Background1
{
	background: url(imagens/bg.jpg) no-repeat fixed;
}

/*Equipe*/
.Nome
{
	font-size: 20pt;
	color: white;
}
.Foto
{
	width: 100px;
	height: 100px;
}
.Categoria
{
	font-size: 15pt;
	color: #FF5E19;
	display: inline;
}
.Descricao
{
	font-size: 15pt;
	color: black;
}
.Link
{
	font-size: 15pt;
	color: black;
}
.Link:hover
{
	font-size: 15pt;
	color: white;
}
.BackgroundLider
{
	background-color: #ffff00;
}
.BackgroundLider2
{
	background-color: #ffd600 ;
}
.BackgroundProgramador
{
	background-color: #40c4ff;
}
.BackgroundProgramador2
{
	background-color: #0091ea;
}
.BackgroundExilado
{
	background-color: #f44336;
}
.BackgroundExilado2
{
	background-color: #d32f2f ;
}
.BackgroundArtista
{
	background-color: #64ffda;
}
.BackgroundArtista2
{
	background-color: #00bfa5;
}
.Borda
{
	border-bottom: 2px solid rgba(0,0,0,.4);
	border-right: 2px solid rgba(0,0,0,.4);
}